* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #0984e3;
  font-size: 62.5%;
  font-family: "Poppins";
}

.main {
  margin: 10rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.main__header {
  color: white;
  font-size: 2rem;
}

.main__btn {
  background-color: #81ecec;
  font-family: "Poppins";
  border: none;
  padding: 0.5rem;
  border-radius: 1rem;
  margin-top: 2rem;
  outline: none;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.main__btn:hover {
  background-color: rgba(129, 236, 236, 0.1);
  color: white;
  cursor: pointer;
}

.quiz {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.quiz__question {
  color: white;
  font-size: 3rem;
  letter-spacing: 1px;
  font-weight: 400;
}

.quiz__mcq__list {
  list-style: none;
}

.quiz__mcq__list__item {
  width: 30rem;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 4rem;
  border-radius: 0.5rem;
  margin: 1rem;
  background-color: white;
  position: relative;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.quiz__mcq__list__item:hover {
  background-color: #6c5ce7;
  cursor: pointer;
  color: white;
}

.quiz__mcq__list__item.right {
  background-color: #55efc4;
}

.quiz__mcq__list__item.wrong {
  background-color: #d63031;
}

.timer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5rem;
}

.timer__number {
  font-size: 2rem;
  color: white;
  font-weight: 500;
  font-family: monospace;
}

.endgame {
  margin-top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.endgame__header {
  color: white;
  font-weight: 600;
  font-size: 2rem;
}

.endgame__stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2rem;
  color: white;
}

.endgame__stats__score {
  margin: 1rem;
}

.endgame__btn {
  background-color: #81ecec;
  font-family: "Poppins";
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
  outline: none;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.endgame__btn:hover {
  background-color: #0984e3;
  color: white;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */